.search {
  position: absolute;
  left: 0px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: xx-large;
  font-family: Consolas, monaco, monospace;
  letter-spacing: -0.2px;
  word-spacing: 6px;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 2px 2px 2px white;
  transition: 0.3s;
}

.search:hover {
  text-shadow: 2px 2px 10px white;
}
